<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CWS.Properties.Settings>
            <setting name="IsAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="BgOpacity" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="StartAsFloating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PPTServiceExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseModernUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AssocWordTarget" serializeAs="String">
                <value>Office</value>
            </setting>
            <setting name="AssocExcelTarget" serializeAs="String">
                <value>Office</value>
            </setting>
            <setting name="AssocPdfTarget" serializeAs="String">
                <value>Edge</value>
            </setting>
            <setting name="AssocWordSuffixes" serializeAs="String">
                <value>.doc;.docx;.docm;.dot;.dotx;.dotm</value>
            </setting>
            <setting name="AssocExcelSuffixes" serializeAs="String">
                <value>.xls;.xlsx;.xlsm;.xlt;.xltx;.xltm</value>
            </setting>
            <setting name="AssocPdfSuffixes" serializeAs="String">
                <value>.pdf</value>
            </setting>
            <setting name="LastInvokeUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemePreset" serializeAs="String">
                <value>MonetWaterLilies</value>
            </setting>
        </CWS.Properties.Settings>
    </userSettings>
</configuration>